<nav class="mb-10 mb-md-0">
  <div class="list-group list-group-sm list-group-strong list-group-flush-x">
    <a class="list-group-item list-group-item-action dropright-toggle @@if(page === 'account-orders.html'){active}" href="account-orders.html">
      Orders
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle @@if(page === 'account-wishlist.html'){active}" href="account-wishlist.html">
      Widhlist
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle @@if(page === 'account-personal-info.html'){active}" href="account-personal-info.html">
      Personal Info
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle @@if(page === 'account-address.html'){active}" href="account-address.html">
      Addresses
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle @@if(page === 'account-payment.html'){active}" href="account-payment.html">
      Payment Methods
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle" href="#!">
      Logout
    </a>
  </div>
</nav>
