<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicons -->
<link rel="icon" href="@@webRoot/assets/img/favicons/favicon.ico">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="@@webRoot/node_modules/simplebar/dist/simplebar.min.css">
<link rel="stylesheet" href="@@webRoot/assets/libs/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="@@webRoot/assets/fonts/feather/feather.css">

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->

<title>@@pageTitle</title>
