<!-- Newsletter: Horizontal -->
@@include("modal-newsletter-horizontal.html")

<!-- Newsletter: Vertical -->
@@include("modal-newsletter-vertical.html")

<!-- Password Reset -->
@@include("modal-password-reset.html")

<!-- Product -->
@@include("modal-product.html")

<!-- Search -->
@@include("modal-search.html")

<!-- Shopping Cart -->
@@include("modal-shopping-cart.html")

<!-- Sidebar -->
@@include("modal-sidebar.html")

<!-- Size Chart -->
@@include("modal-size-chart.html")

<!-- Wait List -->
@@include("modal-wait-list.html")
