<nav class="navbar navbar-expand-xl navbar-light @@classList">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/overview.html">
      Shopper.
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBoxedTopCollapse" aria-controls="navbarBoxedTopCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarBoxedTopCollapse">

      <!-- Nav -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-toggle="dropdown" href="#">Home</a>

          <!-- Menu -->
          @@include("dropdown-home.html")

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-toggle="dropdown" href="#">Shop</a>

          <!-- Menu -->
          @@include("dropdown-shop.html")

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-toggle="dropdown" href="#">Pages</a>

          <!-- Menu -->
          @@include("dropdown-pages.html")

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-toggle="dropdown" href="#">Blog</a>

          <!-- Menu -->
          @@include("dropdown-blog.html")

        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/docs/getting-started.html">Docs</a>
        </li>
      </ul>

      <!-- Nav -->
      <ul class="navbar-nav nav-divided">
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body dropdown-toggle" data-toggle="dropdown" href="#">United States</a>

          <!-- Menu -->
          <div class="dropdown-menu">
            <div class="card card-lg">
              <div class="card-body">
                <ul class="list-styled font-size-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">United States</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">Canada</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">Germany</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body dropdown-toggle" data-toggle="dropdown" href="#">USD</a>

          <!-- Menu -->
          <div class="dropdown-menu">
            <div class="card card-lg">
              <div class="card-body">
                <ul class="list-styled font-size-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">USD</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">EUR</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body dropdown-toggle" data-toggle="dropdown" href="#">EN</a>

          <!-- Menu -->
          <div class="dropdown-menu">
            <div class="card card-lg">
              <div class="card-body">
                <ul class="list-styled font-size-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">English</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">French</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">German</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </li>
      </ul>

      <!-- Nav -->
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" href="#modalSearch">
            <i class="fe fe-search"></i>
          </a>
        </li>
        <li class="nav-item ml-lg-n4">
          <a class="nav-link" href="@@webRoot/account-orders.html">
            <i class="fe fe-user"></i>
          </a>
        </li>
        <li class="nav-item ml-lg-n4">
          <a class="nav-link" href="@@webRoot/account-wishlist.html">
            <i class="fe fe-heart"></i>
          </a>
        </li>
        <li class="nav-item ml-lg-n4">
          <a class="nav-link" data-toggle="modal" href="#modalShoppingCart">
            <span data-cart-items="2">
              <i class="fe fe-shopping-cart"></i>
            </span>
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
