<!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@webRoot/node_modules/flickity/dist/flickity.pkgd.min.js"></script>
<script src="@@webRoot/node_modules/highlightjs/highlight.pack.min.js"></script>
<script src="@@webRoot/node_modules/jarallax/dist/jarallax.min.js"></script>
<script src="@@webRoot/node_modules/list.js/dist/list.min.js"></script>
<script src="@@webRoot/node_modules/simplebar/dist/simplebar.min.js"></script>
<script src="@@webRoot/node_modules/smooth-scroll/dist/smooth-scroll.min.js"></script>
<script src="@@webRoot/assets/libs/flickity-fade/flickity-fade.js"></script>

<!-- Map (replace the API key to enable) -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/card.js"></script>
<script src="@@webRoot/assets/js/collapse.js"></script>
<script src="@@webRoot/assets/js/countdown.js"></script>
<script src="@@webRoot/assets/js/dropdown.js"></script>
<script src="@@webRoot/assets/js/flickity.js"></script>
<script src="@@webRoot/assets/js/form.js"></script>
<script src="@@webRoot/assets/js/highlight.js"></script>
<script src="@@webRoot/assets/js/img-comp.js"></script>
<script src="@@webRoot/assets/js/list.js"></script>
<script src="@@webRoot/assets/js/map.js"></script>
<script src="@@webRoot/assets/js/navbar.js"></script>
<script src="@@webRoot/assets/js/popover.js"></script>
<script src="@@webRoot/assets/js/rating.js"></script>
<script src="@@webRoot/assets/js/simplebar.js"></script>
<script src="@@webRoot/assets/js/smooth-scroll.js"></script>
<script src="@@webRoot/assets/js/theme.js"></script>
<script src="@@webRoot/assets/js/tooltip.js"></script>
<script src="@@webRoot/assets/js/vote.js"></script>
<!-- endbuild -->
